p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.btn-download {
  display: inline-block;
  margin: 0.5em 0 1.5em 0;
  padding: 6px 14px;
  background-color: #2a4e8a;
  color: white !important;
  border-radius: 6px;
  text-decoration: none;
  font-size: 0.9em;
}

.btn-download:hover {
  background-color: #1a3a6a;
}